@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
}
html {
  background-color: rgb(60, 147, 206);
}
input,
button {
  height: 2rem;
  border: none;
  box-shadow: 0.3rem 0.3rem #0f4ba5;
  outline: none;
}
input {
  width: 50%;
  max-width: 30rem;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  padding-left: 1rem;
  font-size: 1rem;
}
button {
  width: 5rem;
  background-color: rgb(35, 103, 158);
  border-radius: 0rem 0.3rem 0.3rem 0rem;
  cursor: pointer;
}
h2 {
  padding-bottom: 1rem;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
.title {
  font-size: 3rem;
  padding-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem #0f4ba5;
  animation: 0.4s ease-out 0s 1 slideInLeft;
}
p {
  animation: 0.6s ease-out 0s 1 slideInLeft;
}
.app {
  height: 100vh;
}
.text-container {
  text-align: center;
  padding-top: 15vh;
}
.input-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  animation: 0.8s ease-out 0s 1 slideInLeft;
}
.definition {
  text-align: center;
  padding: 1rem 4rem 0rem 4rem;
}
