html {
  background-color: #f8c900;
}
button {
  background-color: #db0000;
  color: #faca04;
}
.title {
  color: #000000;
  text-shadow: 0.1rem 0.1rem #000000;
}
p,
h3,
h2 {
  color: #db0000;
}
.image_container img {
  height: 40vh;
  padding-right: 5rem;
}
@media screen and (max-width: 1100px) {
  .image_container img {
    height: 15rem;
  }
}
