html {
  background-color: #02791d;
}
button {
  background-color: #2c378f;
  color: #f4f201;
}
.title {
  color: #f4f201;
  text-shadow: 0.1rem 0.1rem #000000;
}
p,
h3,
h2 {
  color: #2c378f;
}
.image_container img {
  margin-bottom: -1rem;
  padding-right: 0rem;
}
