html {
  background-color: #faca04;
}
button {
  background-color: #fd0002;
  color: #faca04;
}
.title {
  color: #fd0002;
  text-shadow: 0.1rem 0.1rem #000000;
}
p,
h3,
h2 {
  color: #fd0002;
}
.image_container img {
  height: 50vh;
  padding-right: 5rem;
}
@media screen and (max-width: 1100px) {
  .image_container img {
    height: 15rem;
  }
}
